.select-page-wrapper {
  margin: 0 auto;

  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: column; /* Safari 6.1+ */
  display: flex;
  flex-direction:column;

  padding: 3%;
}

.heading-separator {
    background: #080000;
    opacity: .9;
    width: 45px;
    height: 2px;
    display: block;
    margin: auto;
    border-radius: 99px;
}

.section-heading {
  text-align: center;
  line-height: 45px;
  font-weight: 900;
  font-style: normal;
  color: #1f1f1f;
  font-size: 34px;
  margin-bottom: 16px;
}

.section-subheading {
  margin: auto;
  text-transform: none;
  text-align: center;
  margin-top: 16px;
  max-width: 650px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
    font-style: normal;
}


.table-container {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: column; /* Safari 6.1+ */
  display: flex;
  flex-direction:column;
}

.row-container {
  border: 1px solid;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction:row-reverse;

}

.landing_col-sm-3 {
  border: 1px solid;
  height: 200px;
    flex: 1;
  width: 200px;
}

.title {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing:5px;
  background: linear-gradient(rgba(255,0,0,0), #444,rgba(255,0,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  @media screen and (min-width:37.5em){
    font-size: 4.75rem;
  }
}

p{
  margin:0 auto 2rem;
  text-align: center;
  font-family: 'oswald';
  font-size: 1.25rem;
  color:#444;
  font-weight: 100;
  width: 90%;
  @media screen and (min-width:37.5em){
    height: 70%;
  }

}
.case-study-gallery{
  margin-top:50px;
  width: 90%;
  margin:50px auto;
  max-width:1100px;
}
.case-study {
  position: relative;
  display:block;
  width: 90%;
  height: 250px;
  margin:0 auto 2rem;
	background-size:cover;
  border-radius:10px;
  box-shadow:0px 25px 50px rgba(0,0,0,.5);
  overflow:hidden;
  transition:all .4s ease;
  @media screen and (min-width:37.5em){
    height: 400px;
  }
  @media screen and (min-width:45em) {
    display:inline-block;
  	width: 30%;
    margin-left: 25px;
  }
}


  .case-study__img{
    width: 90%;
    display:block;
  	margin-top:50%;
    transform:translateY(50%);
    margin:0 auto;
  }


.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index:10;
  &:after {
    content:'';
    width: 100%;
    border-radius:10px;
    height: 100%;
    background-color: #202020;
    opacity:0;
    position: absolute;
    top:0;
    z-index:-10;
    left:0;
    transition:all .3s ease;
  }
}

  .case-study__title {
    position: relative;
    top:-200px;
    margin-bottom:2rem;
    margin-top:4rem;
    font-size: 2.25rem;
    font-family: 'Oswald';
    font-weight: 100;
    color:white;
    text-align: center;
    letter-spacing:5px;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
  }

  .case-study__link {
    position: relative;
    display:block;
    width:60%;
    top:200px;
    padding:10px;
    margin: 0 auto;
    font-family: 'Oswald';
    color:white;
    letter-spacing:3px;
    text-decoration: none;
    text-align: center;
    border:2px solid white;
    border-radius:3px;
    font-size: 1.25em;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
    &:hover {
      background-color: white;
      color:#202020;
    }
  }

.case-study__subtitle {
  
}


.case-study:hover {

  .case-study__title{
    top:0;
  }
  .case-study__link{
    top:0;
  }

  .case-study__overlay:after{
    opacity:.75;
  }
}

.study1{
  background-image: url('../../../../assets/demo1.png');
}
.study2 {
  background-image: url('../../../../assets/demo2.png');
}
.study3{
  background-image: url('../../../../assets/demo3.png');
}
.study4{
  background-image: url('../../../../assets/demo4.png');
}
.study5{
  background-image: url('../../../../assets/demo1.png');
}
.study6{
  background-image: url('../../../../assets/demo1.png');

}
