@import '../../../styles/mixins/breakpoints.scss';
@import '../../../styles/variables.scss';

.about-container {
  height:100vh;
  width:100%;
  background-color: #2A2C39;
  position: relative;
}

.about-wrapper {
  font: 200 30px 'Lato';
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: justify;
  transform: translate(-50%, -50%)

}

@include breakpoint(handhelds) {
  .about-wrapper {
    font: 200 20px 'Lato';
    top:auto;
    left: auto;
    padding: 5%;
    text-align: center;
    transform:none;
  }
}
