@import '../../../styles/mixins/breakpoints.scss';
@import '../../../styles/variables.scss';

/*
 * Featured Collections
 */

.homepage__cta {
    display: flex;
    @include breakpoint(handhelds) {
        flex-direction: column;
    }
}

.homepage__featured {
    flex-wrap: wrap;
    align-self: center;
    width: 20%;
    min-width: 250px;
    @include breakpoint(handhelds) {
        display: flex;
        justify-content: center;
        width: 100%;
        order: 2;
    }
}

.homepage__featured-block {
    display: flex;
    margin-top: 20px;
}

.homepage__banners {
    align-self: center;
    width: 100%;
    height: 100%;
    max-width: inherit;
    max-height: inherit;
    @include breakpoint(handhelds) {
        order: 1;
    }
}

/*
 * Articles
 */

.homepage__articles {
    display: flex;
    margin-top: 30px;

    @include breakpoint(handhelds) {
        flex-direction: column;
        margin-top: 30px;
    }

    @include breakpoint(medium-screens) {
        flex-direction: column;
        margin-top: 30px;
    }
}

.homepage__article-item {
    width: 100%;
    padding: 15px;
    border: 1px solid #E7E7E7;
    box-shadow: rgba(0,0,0,.1) 0 2px 5px;

    @include breakpoint(handhelds) {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    @include breakpoint(medium-screens) {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    @include breakpoint(wide-screens) {
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

.homepage__article-link {
    text-decoration: none;
}

/*
 * Products
 */

 .homepage__products {
     margin-top: 30px;
     @include breakpoint(handhelds) {
         margin-top: 0;
     }
 }

// home screen

.switcher-container {
	display: inline-block;
	font-weight: bold;
	color: rgb(255, 64, 86); transform: translate3d(-3.785px, -1.65px, 0px);
	line-height: 1.2;
	letter-spacing: -.45rem;
	display: inline-block;
	padding-left: 0px;
  @include breakpoint(handhelds) {
    letter-spacing: -.2rem;
  }
}

.homepage-container {
  text-align: center;
  min-height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #2A2C39;
  background-size:cover;
  color: #fafafa;
  text-shadow: -2px 1px rgba(0, 0, 0, 0.1);
  font: 900 6.853em Montserrat, Helvetica, Times, serif;
  letter-spacing: -.45rem;
  box-sizing: border-box;
  @include breakpoint(handhelds) {
    font: 900 3em Montserrat, Helvetica, Times, serif;
    letter-spacing: -.1rem;
    justify-content:center;
    align-items:flex-start;
  }
}

.home-container {
  text-align: center;
  min-height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url(miniature-image.jpg);
  background-size:cover;
  color: #fafafa;
  text-shadow: -2px 1px rgba(0, 0, 0, 0.1);
  font: 900 6.853em Montserrat, Helvetica, Times, serif;
  letter-spacing: -.45rem;
  box-sizing: border-box;
  @include breakpoint(handhelds) {
    font: 900 3em Montserrat, Helvetica, Times, serif;
    letter-spacing: -.1rem;
    justify-content:center;
    align-items:flex-start;
  }
}

.hacemos-word {
  display: flex;
  text-decoration: none;
  color: white;
  flex-direction: row;
  padding-left: 10px;
  @include breakpoint(handhelds) {
    flex-direction: column;
  }
}
